<h1>Surveys#new</h1>
<%= form_for @survey do |f| %>

  <%= f.label :name, "Name" %> <br>
  <%= f.text_field :name %> <br>

  <%= f.fields_for :questions do |question| %>
    <%= question.label :name, "Question 1" %> <br>
    <%= question.text_field :name %> <br>

    <%= question.label :type, "Users may choose how many answers?" %> <br>
    <%= select_tag(:type, options_for_select([['one answer', 1], ['multiple answers', 2]])) %> <br>

    <%= question.label :option, "Answers" %> <br>

    <%= question.fields_for :options do |option| %>
      <%= option.text_field :option %>

    <% end %>

  <% end %>

  <%= f.submit "Submit" %>

<% end %>
